<div class="header__container">
   <div class="header__wrapper">
      <div class="header__nav">
         <div class="nav__logo"><img src="../images/Vector.svg" alt=""></div>
         <div class="nav__menu">
            <div class="nav__burger"><span></span></div>
            <ul class="nav__list">
               <li class="nav__item"><a class="nav__link">NEW CARS</a></li>
               <li class="nav__item"><a class="nav__link">PRE-OWNED CARS</a></li>
               <li class="nav__item"><a class="nav__link">FINANCE</a></li>
               <li class="nav__item"><a class="nav__link">LEASE VS BUY</a></li>
               <li class="nav__item"><a class="nav__link">CONTACT US</a></li>
            </ul>
         </div>
      </div>
      <div class="header__main">
         <h1 class="header__main-title">Leasing From D&M</h1>
         <button class="header__main-button"> FIND A CAR</button>
      </div>
   </div>
</div>
<div class="slider">
   <div class="swiper">
      <div class="swiper-wrapper">
         <div class="swiper-slide" style="background-image: url('../images/carSlider.avif');">
         </div>
         <div class="swiper-slide" style="background-image: url('../images/911slider.avif'); ">
         </div>
         <div class="swiper-slide" style="background-image: url('../images/car3Slider.avif');">
         </div>

      </div>
      <div class="swiper-pagination"></div>
   </div>
</div>